Discrepancy between "getetag" property and ETag header

There is currently a discrepancy between the DAV property "getetag" obtained with PROPFIND and the ETag header obtained wit a HEAD or GET. The header value is quoted by `wsgidav` while the property value is not.

From the example in [Section 9.1.5 of RFC4918](https://datatracker.ietf.org/doc/html/rfc4918#section-9.1.5) the "getetag" property should exactly match the header value. It would probably be best if the `getETag()` string be used directly as both the header value and the property. This would require simply removing the quoted formatting in the supplied server: https://github.com/mar10/wsgidav/blob/7b2f10adca764a9514f86bfc4dec055ee84c1202/wsgidav/request_server.py#L784

This would put the burden on the `getETag()` to supply either a strong or weak quoted etag value.

I found this issue on an older version (2.4.1) but this same problem applies to the current master https://github.com/mar10/wsgidav/blob/9b85f53d0dad9ec2db7b339049ee693f62ed52de/wsgidav/request_server.py#L847

I am comfortable patching my local package of this library. If there is agreement on which of the two is changing, I will patch my local source to agree with that decision.

Does it seem good to require any ETag quoting from the provider? It will affect existing users of the API for the header value, but not for the DAV property value.

Some first thoughts: [This source](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.19) suggests that ETag header is not enclosed in quotes (`"`) per se, but the ETag value *is*:

```
ETag: "xyzzy"
ETag: W/"xyzzy"
ETag: ""
```
The `If-*-Match` headers use the same syntax:
```
If-None-Match: "xyzzy"
If-None-Match: W/"xyzzy"
If-None-Match: "xyzzy", "r2d2xxxx", "c3piozzzz"
If-None-Match: W/"xyzzy", W/"r2d2xxxx", W/"c3piozzzz"
If-None-Match: *
```
A possible approach could be that 
- if `getETag()` returns a plain string `xyzzy` quotes will added: `ETag: "xyzzy"` 
- if `getETag()` returns a quoted string `"xyzzy"` it will be used as-is: `ETag: "xyzzy"`
- if `getETag()` returns a weak etag, it should have the form `W/"xyzzy"` and it will be used  as-is: `ETag: W/"xyzzy"`
  In this case (i.e. result.lower() starts with `w/`) we should add checks for the correct syntax and warn or error out if the trailing etag is not embedded in quotes

What do you think?


Unfortunately robust ETag handling is provided by libraries like `werkzeug` which is not currently a dependency.
If the API is going to be lax about whether the `getETag()` / `get_etag()` return RFC-conformant values, then I think simply stripping the text and quoting-if-not-quoted (i.e., assume a not-strictly-valid ETag value is really a strong ETag) would do the job.

This means that the output of `getETag()` needs to be postprocessed every time it is used, which is a few places (`request_server.py` and `dav_provider.py` at least). Seems like the easiest thing is to create a new utility function, something similar to:
```
def quote_etag(value):
    value = str(value).strip()
    if '"' not in value:
        value = '"{}"'.format(value)
    return value
```
This doesn't strictly enforce RFC conformance but it at least guarantees a strong ETag format for otherwise conformant values.
Then the users of the API-provided ETag would look like:
```
                headers = [("ETag", quote_etag(entitytag))]
```

Also, the default `util.getETag()` should properly quote its output as a good example.

I actually just found a similar issue, on the opposite site, in ETag handling for conditional comparison in https://github.com/mar10/wsgidav/blob/7b2f10adca764a9514f86bfc4dec055ee84c1202/wsgidav/util.py#L1018 and https://github.com/mar10/wsgidav/blob/7b2f10adca764a9514f86bfc4dec055ee84c1202/wsgidav/util.py#L1040
As you showed earlier, quotation marks are part of the ETag value and should not be removed from the string.